@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: solid red 1px; */
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #171717;
  color: #fef7d7;
}

.App {
  display: flex;
  justify-content: center;
  padding: 2em 1em;
  flex-wrap: wrap;
}

.form {
  margin: 0 auto;
  display: block;
  margin-bottom: 3em;
}

.form input {
  width: 30vw;
  height: 100%;
  border-radius: 1em 0 0 1em;
}

.form button {
  border: none;
  padding: 10px 20px;
  background-color: #f4bc2b;
  font-size: 1rem;
  color: #171717;
  border-radius: 0 1em 1em 0;
}

.form button:hover {
  color: #fef7d7;
}

.Recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  background-color: #f4bc2b;
  color: #17171b;
  width: 350px;
  height: fit-content;
  margin: 2em;
  text-align: center;
  overflow: hidden;
}

.recipe-info {
  padding: 1em 0;
}

.recipe .image-container {
  width: 100%;
  height: 350px;
}

.recipe img {
  width: 100%;
  object-fit: cover;
}

.recipe ul {
  padding: 1em;
  line-height: 1.75;
}

.recipe li {
  list-style-type: none;
  font-size: 0.9rem;
  text-align: left;
  line-height: 2;
  /* border-bottom: solid 0.02em #171717; */
}

/* MODAL  */

.modalWrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  height: 80vh;
  top: 20px;
  background-color: #fef7d7;
  border-radius: 1em;
}

.modal {
  /* display: flex; */
}

.modalWrapper button {
  width: 50%;
  padding: 1em 1.5em;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  margin-bottom: 1em;
  background-color: #e96c3c;
  border: none;
  border-radius: 1em;
}
